@if (areQuizzCategoriesLoading() || areQuizzDifficultiesLoading()) {
  <!-- Quizz Maker loading -->
  <div class="loading">Quizz Maker is loading...</div>
}
@else {
  @if (quizzCategories().length && quizzDifficulties().length) {
    <!-- Form -->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Category dropdown -->
      <div class="form-field">
        <div class="form-field-label">Category</div>
        <qzm-quizz-input
          [formControlName]="CATEGORY_FIELD"
          [options]="quizzCategories()"
          placeholder="Enter a category"
        />
      </div>

      <!-- Subcategory dropdown -->
      @if (quizzSubcategories().length) {
        <div class="form-field">
          <div class="form-field-label">Subcategory</div>
          <qzm-quizz-input
            [formControlName]="SUBCATEGORY_FIELD"
            [options]="quizzSubcategories()"
            placeholder="Enter a subcategory"
          />
        </div>
      }

      <!-- Difficulty dropdown -->
      <div class="form-field">
        <div class="form-field-label">Difficulty</div>
        <qzm-quizz-select
          [formControlName]="DIFFICULTY_FIELD"
          [options]="quizzDifficulties()"
          placeholder="Select a difficulty"
          [optionFormatFn]="formatQuizzDifficultyFn"
        />
      </div>
      <!-- Create button -->
      <button class="create-button" type="submit" [disabled]="form.invalid">
        Create
      </button>
    </form>
  }
}
