@use 'layout';
@use 'colors';

.loading {
  font-size: 2rem;
  font-weight: 700;
}

form {
  @include layout.flex($gap: 1rem);
  
  .form-field {
    @include layout.flex($direction: column, $gap: 0.5rem);

    .form-field-label {
      font-size: 1.1rem;
      font-weight: 900;
    }
  }
}