@if (isQuizMakerKo()) {
  <qzm-quiz-ko (reload)="onReload()"/>
}
@else if (areQuizLinesLoading()) {
  <div class="loading">Your quiz is loading...</div>
}
@else {
  @for (quizLine of quizLines(); track $index) {
    <qzm-quiz-line
      [quizLine]="quizLine"
      [canQuestionBeChanged]="canQuestionBeChanged()"
      (pickAnswer)="pickAnswer($event)"
      (changeQuizLine)="changeQuizLine($event)"
    />
  }

  @if (isQuizComplete()) {
    <div class="action-buttons">
      <button
        data-testid="submit-button"
        class="submit-button"
        (click)="showResults()"
      >
        Submit
      </button>
    </div>
  }
}
