
@if (isQuizMakerKo()) {
  <qzm-quiz-ko (reload)="onReload()"/>
}
@else {
  <qzm-quiz-lines
    [areQuizLinesLoading]="areQuizLinesLoading()"
    [quizLines]="quizLines()"
    [canQuestionBeChanged]="canQuestionBeChanged()"
    [disabled]="false"
    (pickAnswer)="pickAnswer($event)"
    (changeQuizLine)="changeQuizLine($event)"
  />
  
  @if (isQuizComplete()) {
    <div class="action-buttons">
      <button class="submit-button" (click)="showResults()">
        Submit
      </button>
    </div>
  }
}
