
<!-- Quizz KO -->
@if (isQuizzMakerKo()) {
  <qzm-quizz-ko (reload)="onReload()"/>
}
@else {
  <!-- Form (only for quizz) -->
  @if (!(areResultsShown())) {
    <qzm-quizz-form 
      [areQuizzCategoriesLoading]="areQuizzCategoriesLoading()"
      [quizzCategories]="quizzCategories()"
      [quizzSubcategories]="quizzSubcategories()"
      [areQuizzDifficultiesLoading]="areQuizzDifficultiesLoading()"
      [quizzDifficulties]="quizzDifficulties()"
      (selectCategory)="selectCategory($event)"
      (createQuizz)="createQuizzLines($event)"
    />
  }
  
  <!-- Lines -->
  <qzm-quizz-lines
    [areQuizzLinesLoading]="areQuizzLinesLoading()"
    [quizLines]="quizzLines()"
    [canQuestionBeChanged]="canQuestionBeChanged()"
    [disabled]="areResultsShown()"
    (pickAnswer)="pickAnswer($event)"
    (changeQuizzLine)="changeQuizzLine($event)"
  />
  
  <!-- Score (only for results) -->
  @if (areResultsShown()) {
    <qzm-quizz-score [quizLines]="quizzLines()"/>
  }
  
  <!-- Action -->
  <qzm-quizz-action
    [areResultsShown]="areResultsShown()"
    [isQuizzComplete]="isQuizzComplete()"
    (action)="doQuizzAction($event)"
  />
}
