<!-- Quizz KO -->
<ng-container *ngIf="isQuizzMakerKo$ | async; else quizzMaker">
  <qzm-quizz-ko (reload)="onReload()"></qzm-quizz-ko>
</ng-container>

<!-- Quizz Maker-->
<ng-template #quizzMaker>
  <!-- Form -->
  <qzm-quizz-form 
    *ngIf="!(areResultsShown$ | async)"
    [areQuizzCategoriesLoading]="areQuizzCategoriesLoading$ | async"
    [quizCategories]="quizCategories$ | async"
    [quizSubcategories]="quizSubcategories$ | async"
    [quizDifficulties]="quizDifficulties$ | async"
    (selectCategory)="selectCategory($event)"
    (createQuizz)="createQuizzLines($event)">
  </qzm-quizz-form>
  
  <!-- Lines -->
  <qzm-quizz-lines
    [areQuizzLinesLoading]="areQuizzLinesLoading$ | async"
    [quizLines]="quizLines$ | async"
    [canQuestionBeChanged]="canQuestionBeChanged$ | async"
    [disabled]="areResultsShown$ | async"
    (pickAnswer)="pickAnswer($event)"
    (changeQuizzLine)="changeQuizzLine($event)">
  </qzm-quizz-lines>

  <!-- Score (only for results) -->
  <qzm-quizz-score
    *ngIf="areResultsShown$ | async"
    [quizLines]="quizLines$ | async">
  </qzm-quizz-score>

  <!-- Action -->
  <qzm-quizz-action
    [areResultsShown]="areResultsShown$ | async"
    [isQuizzComplete]="isQuizzComplete$ | async"
    (action)="doQuizzAction($event)">
  </qzm-quizz-action>

</ng-template>
