<div class="quiz-line" [ngClass]="{disabled: disabled()}">
  <div class="quiz-question" [innerHTML]="quizLine().question"></div>
  <div class="quiz-answers">
    @for (answer of quizLine().answers; track $index) {
      <button
        class="quiz-button"
        [ngClass]="answer | qzmAnswerColor:quizLine():disabled()"
        [tabindex]="disabled() ? -1 : 0"
        (click)="pickAnswer.emit({answer, question: quizLine().question})"
      >
        <span [innerHTML]="answer"></span>
      </button>
    }

    @if (canQuestionBeChanged() && !disabled()) {
      <!-- Change question button -->
      <button class="blue" (click)="changeQuizLine.emit(quizLine())">
        Change
      </button>
    }
  </div>
</div>