<div class="quiz-line" [ngClass]="{disabled: disabled()}">
  <div class="quiz-question" [innerHTML]="quizLine().question"></div>
  <div class="quiz-answers">
    @for (answer of quizLine().answers; track $index) {
      <qzm-quiz-answer
        class="quiz-answer"
        [answer]="answer"
        [correctAnswer]="quizLine().correctAnswer"
        [userAnswer]="quizLine().userAnswer"
        [disabled]="disabled()"
        (pick)="pickAnswer.emit({answer, question: quizLine().question})"
      />
    }

    @if (canQuestionBeChanged() && !disabled()) {
      <!-- Change question button -->
      <button class="blue" (click)="changeQuizLine.emit()">
        Change
      </button>
    }
  </div>
</div>