@use 'layout';

:host {
  width: 100%;
}

.quiz-line {
  @include layout.flex($direction: column, $j-content: center, $gap: 0.5rem);
  margin: 1rem;

  &.disabled {
    pointer-events: none;
  }

  .quiz-question {
    font-size: 1.3rem;
    font-weight: 700;
  }

  .quiz-answers {
    @include layout.flex($gap: 1rem);

    .quiz-answer {
      width: 25%;
    }
  }
}