<!-- Quiz Maker loading -->
<ng-container *ngIf="areQuizCategoriesLoading; else quizForm">
  <div class="loading">Quiz Maker is loading...</div>
</ng-container>

<ng-template #quizForm>
  <!-- Form -->
  <ng-container *ngIf="quizCategories?.length && quizDifficulties?.length">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Category dropdown -->
      <select [formControlName]="CATEGORY_FIELD" id="categorySelect">
        <option [ngValue]="null">
          Select a category
        </option>
        <option *ngFor="let category of quizCategories" [ngValue]="category.id">
          {{ category.name }}
        </option>
      </select>
      <!-- Difficulty dropdown -->
      <select [formControlName]="DIFFICULTY_FIELD" id="difficultySelect">
        <option [ngValue]="null">
          Select difficulty
        </option>
        <option *ngFor="let quizDifficulty of quizDifficulties" [ngValue]="quizDifficulty.value">
          {{ quizDifficulty.label }}
        </option>
      </select>
      <!-- Create button -->
      <button type="submit" [disabled]="form.invalid"id="createBtn">
        Create
      </button>
    </form>
  </ng-container>

</ng-template>
