<input
  class="input"
  [ngClass]="{disabled}"
  [placeholder]="placeholder"
  [formControl]="control"
  [tabIndex]="disabled ? -1 : 0"
  (focus)="onInputFocus()"
  (input)="onInputInput()"
  (keydown.Shift.Tab)="onInputBlur()"
>

<div
  *ngIf="options?.length && areOptionsVisible"
  class="options-container"
  [ngClass]="{disabled}"
>
  <div
    *ngFor="let option of filteredOptions$ | async; last as isLastOption"
    class="option"
    tabindex="0"
    [innerHTML]="option | qzmBoldFilter:control.value"
    (click)="onOptionClick(option)"
    (keydown.Enter)="onOptionClick(option)"
    (keydown.Tab)="onOptionsTabKeydown(isLastOption)"
  >
  </div>
</div>