.loading {
  font-size: 1.5rem;
}

form {
  display: flex;
  gap: 0.5rem;

  select {
    height: 2rem;
    width: 20rem;
    font-size: 1.1rem;
    border-radius: 0.25rem;

    &:hover {
      cursor: pointer;
      border-width: 0.15rem;
    }
  }

  button {
    font-size: 1.1rem;
    background-color: transparent;
    border-width: 0.05rem;
    border-radius: 0.25rem;

    &:not(:disabled) {
      cursor: pointer;

      &:hover {
        border-width: 0.15rem;
      }
    }
  }
}