<!-- Quiz Maker loading -->
<ng-container *ngIf="areQuizCategoriesLoading; else quizForm">
  <div class="loading">Quiz Maker is loading...</div>
</ng-container>

<ng-template #quizForm>
  <!-- Form -->
  <ng-container *ngIf="quizCategories?.length && quizDifficulties?.length">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <!-- Category dropdown -->
      <qzm-dropdown
        [formControlName]="CATEGORY_FIELD"
        [options]="quizCategories"
        placeholder="Enter a category"
      >
      </qzm-dropdown>
      
      <!-- Subcategory dropdown -->
      <ng-container *ngIf="quizSubcategories?.length">
        <qzm-dropdown
          [formControlName]="SUBCATEGORY_FIELD"
          [options]="quizSubcategories"
          placeholder="Enter a subcategory"
        >
        </qzm-dropdown>
      </ng-container>
      <!-- Difficulty dropdown -->
      <select [formControlName]="DIFFICULTY_FIELD" id="difficultySelect">
        <option [ngValue]="null">
          Select difficulty
        </option>
        <option *ngFor="let quizDifficulty of quizDifficulties" [ngValue]="quizDifficulty.value">
          {{ quizDifficulty.label }}
        </option>
      </select>
      <!-- Create button -->
      <button type="submit" [disabled]="form.pending || form.invalid" id="createBtn">
        Create
      </button>
    </form>
  </ng-container>

</ng-template>
