$option-color: #F1F1F1;

.options-container {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  box-shadow: $option-color 0.5rem 1rem 1rem 0.5rem;
  background-color: white;

  .option {
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
      background-color: $option-color;
    }
  }
}