@use 'layout';

$title-height: 99.2px;

.header {
  height: $title-height;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  h1 {
    margin: 0;
    padding: 0;
  }

  .main-title {
    background-color: var(--black);
    color: var(--white);
    cursor: default;
    font-family: DarkerGrotesque;
    font-size: 4rem;
    font-weight: 900;
    padding-bottom: 0.75rem;
  }
}

.main {
  position: relative;
  top: $title-height;
}
