@use 'layout';
@use 'colors';

:host {
  @include layout.flex($direction: column, $a-items: center);
}

.main-title {
  margin: 1rem 0;
  padding: 1rem 2rem;
  font-size: 4rem;
  font-weight: 900;
  font-family: DarkerGrotesque;
  text-align: center;
  background-color: colors.$black;
  color: colors.$white;
  cursor: default;
}