
<!-- Quiz KO -->
@if (isQuizMakerKo()) {
  <qzm-quiz-ko (reload)="onReload()"/>
}
@else {
  <!-- Lines -->
  <qzm-quiz-lines
    [areQuizLinesLoading]="areQuizLinesLoading()"
    [quizLines]="quizLines()"
    [canQuestionBeChanged]="canQuestionBeChanged()"
    [disabled]="areResultsShown()"
    (pickAnswer)="pickAnswer($event)"
    (changeQuizLine)="changeQuizLine($event)"
  />
  
  <!-- Score (only for results) -->
  @if (areResultsShown()) {
    <qzm-quiz-score [quizLines]="quizLines()"/>
  }
  
  <!-- Action -->
  <qzm-quiz-action
    [areResultsShown]="areResultsShown()"
    [isQuizComplete]="isQuizComplete()"
    (action)="doQuizAction($event)"
  />
}
