@use 'layout';

.quiz-score {
  @include layout.flex($j-content: center, $a-items: center);
  margin: 1rem;
  border: dotted 4px;
  padding: 2rem 4rem;
  font-size: 2rem;
  font-weight: 900;

  &.correct {
    background-color: var(--green);
  }

  &.neutral {
    background-color: var(--blue);
  }

  &.incorrect {
    background-color: var(--red);
  }
}