html, body, select, input, button {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  input {
    height: 1.75rem;
    font-size: 1.1rem;
  }
}