@use 'html';
@use 'body';
@use 'input';
@use 'button';

// Darker Grotesque font
@font-face {
  font-family: DarkerGrotesque;
  src: url(assets/fonts/DarkerGrotesque-VariableFont_wght.ttf) format('truetype')
}

// Lexend font
@font-face {
  font-family: Lexend;
  src: url(assets/fonts/Lexend-VariableFont_wght.ttf) format('truetype')
}

// Apply Lexend font family by default
* {
  font-family: Lexend;
}

:root {
  --white: white;
  --grey: lightgrey;
  --black: black;
  --blue: #87CEEB;
  --green: #90EE90;
  --yellow: #F4D738;
  --red: #FF7A5C;
  --pink: #FFB2EF;
  --purple: #A388EE;
}

// Add html custom theme
@include html.theme();

// Add body custom theme
@include body.theme();

// Add input custom theme
@include input.theme();

// Add button custom theme
@include button.theme();