// Button custom theme
@mixin theme() {
  button {
    border: solid 3px;
    box-shadow: 2px 2px;
    min-height: 2rem;
    max-height: 4rem;
    font-size: 1.1rem;
    font-weight: 900;
    font-family: DarkerGrotesque;
    text-transform: uppercase;
    
    &:disabled {
      background-color: var(--grey);
      cursor: default;
    }

    &:not(:disabled) {
      cursor: pointer;

      &.purple {
        background-color: var(--purple);
      }
      
      &.green {
        background-color: var(--green);
      }
      
      &.blue {
        background-color: var(--blue);
      }

      &:hover {
        background-color: var(--pink);
      }
    }
  }
}
